.App {
  text-align: center;
}

.App-container{
  display: flex;
}

.sidebar{
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  border: solid;
}

.main-content-container{
  margin-left: 35%;
}