.App {
  text-align: center;
}

.add-song-form {
  margin-bottom: 10px;

}

.add-song-form input {
  background: #333333;
  color:#ffffff;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.add-song-form select {
  width: 125px;
  margin-right: 10px;
  color: white;
  background:#333333;
}

body {
  background: rgb(0, 0, 0);
}

button {
  background: rgba(128, 128, 128, 0.205);
  color: rgb(112, 112, 112);
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

select {
  background: grey;
}

h1, h3, p {
  color: white;
}

/* .home-page {
  
} */

.dotify-title {
  font-size: 22.5em;
  background: none;
  color: rgb(36, 36, 36);
  margin-top: 20%;
  margin-bottom: 0;
  border-radius: 150px;
}

.title-dot {
  font-size: 22.5em;
  background: none;
  color: rgba(82, 82, 82, 0.801);
  margin-top: 20%;
  margin-bottom: 0;
}

.dotify-title-div {
  display: flex;
  flex-direction: row;
}


#dotify-nav-div {
  display: flex;
  flex-direction:row;
  margin-bottom: 20px;
}

#dotify-nav {
  margin-bottom: 0;
  margin-top: 17px;
}

#dotify-dot {
  color: rgb(71, 107, 204);
  margin-bottom: 0;
  margin-top: 0px;
  font-size: 50px;
}

.welcome {
  font-weight: bold;
  font-size: 3em;
  color: rgb(73, 73, 73);
  margin-left: 6em;
}

.App-container{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background: rgb(22, 22, 22);
}

.song-card { 
  display: flex;
  min-width: 80vw;
  border-top: 1px solid;
  border-color: rgb(59, 59, 59);
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
}

.song-card > * {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.song-card-image {
  cursor: pointer;
}

.song-details { 
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  color: white;
  align-self: left;
}

.song-details > * {
  margin: 0;
  align-items: left;
}

.nav-link {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.song-link {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.sidebar{
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  border-right: solid;
  width: 250px;
  align-items: left;
  padding-top: 35px;
  background: rgb(15, 15, 15);
  z-index: 5;
  color: rgb(19, 19, 19);
}

.sidebar > *{
  padding-left:30px;
  margin-top: 5%;
  margin-bottom: 7%;
  text-decoration: none;
  color: rgb(245, 245, 245);
}

.sidebar p { 
  cursor: pointer;
  padding-bottom: 35px;
  border-bottom: 1px solid;
  border-color:rgb(56, 56, 56);
  
}

.search {
  border-radius: 5px;
}

.edit-button {
  margin-left: 10px;
}

.main-content-container{
  margin-left: 300px;
}

.playlist-links{
  display: flex;
}


/****** MODAL *******/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 30px;
  z-index: 10;
  background-color: white;
  width: 200px;
  max-width: 70%;
}

.modal-active {
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  top: 20%;
  left: 50%;
  transition: 200ms ease-in-out;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  z-index: 10;
  background-color: #222222;
  color: white;
  height: 150px;
  width: 300px;
  max-width: 70%;
  text-align: center;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;

}

#overlay-active {
  opacity: .5;
  pointer-events: all;
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
}

/* *********IFRAME MODAL****************** */


.iframe-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 30px;
  z-index: 10;
  background-color: white;
  width: 200px;
  max-width: 70%;
}

.iframe-modal-active{
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 200ms ease-in-out;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
  background-color: #222222;
  color: white;
  height: 765px;
  width: 1285px;
  max-width: 70%;
  text-align: center;
}

.iframe-modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.iframe-modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}



.iframe-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  justify-self: flex-end;
}

.iframe-modal-body {
  padding: 10px 15px;
}

#iframe-overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;

}

#iframe-overlay-active {
  opacity: .5;
  pointer-events: all;
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
}

.iframe-video {
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  top: 53%;
  left: 50%;
  transition: 200ms ease-in-out;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
  background-color: #222222;
  color: white;
  height: 720px;
  width: 1280px;
  max-width: 100%;
  text-align: center;
}


