.App {
  text-align: center;
}

.App-container{
  display: flex;
}

.song-card { 
  display: flex;
  width: 100%;
  border-top: 1px solid;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
}

.song-card > * {
  justify-content: center;
}

.song-details { 
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.song-details > * {
  margin: 0;
  align-items: left;
}

.sidebar{
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  border-right: solid;
  width: 15%;
  align-items: center;
  padding-top: 3%;
}

.sidebar > *{
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: none;
}

.sidebar p { 
  cursor: pointer;
}

.main-content-container{
  margin-left: 35%;
}

